* {
    margin: 0;
    padding: 0;
}

.headerContainer {
    background-color: #FFFFFF;
}

.headerTitle {
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.titleVegetable {
    position: relative;
    padding: 0 50px 2px 15px;
    text-transform: capitalize;
    height: 33px;
    font-size: 22px;
}

.titleShop {
    position: absolute;
    left: 145px;
    height: 33px;
    width: 80px;
    font-size: 20px;
    font-weight: 400;
    padding: 0 0px 2px 0px;
}

.titleCart {
    background-color: #54B46A;
    color: #FFFFFF;
    width: 144px;
    height: 44px;
    font-size: 16px;
}